<div class="area-login-background d-nome d-md-block"></div>

<div class="area-form">
    <form>
        <h1 class="titulo">Login</h1>
        <h2 class="subtitulo">Faça seu login</h2>

        <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu usuário">
        <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="password" placeholder="Digite sua senha">

        <app-button textButton="Acessar" size="100" (click)="login()"></app-button>
    </form>

    <p class="footer"> 2024 | Desenvolvido por Amanda e Carlos</p>
</div>
