<nav class="sidemenu">
    <ul>
        <li class="logotipo">
            <img src="../../../assets/Logo.png" width="40px" alt="">
            <span class="logo">CondoHub</span>
        </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/cadastro-morador"> <mat-icon>person_add</mat-icon> Cadastrar moradores </li>
        <li routerLink="/cadastro-porteiros"> <mat-icon>group_add</mat-icon> Cadastrar porteiros </li>
        <li routerLink="/cadastro-avisos"> <mat-icon>mail</mat-icon> Cadastrar avisos </li>
        <a href="../../../assets/modelo_regimento_intero.pdf"> <li> <mat-icon> description</mat-icon> Regimento interno </li> </a>
        <li routerLink="/login" class="logout"> <mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>