.sidemenu{
    width: 210px;
    height: 100vh;
    min-height: 100vh;
    display: block;
    float: left;
    background-color: var(--primary-color);
    padding: 10px 0px;
    box-shadow: 4px 0px 10px 4px #0a0a0a30;
    margin-right: 16px;

    ul{ padding: 0;}

    .logo{
        font-size: 20px;
        font-weight: bold;
        margin-left: 4px;
    }

    li{
        font-size: 14px;
        font-weight: 500;
        color: #fafafa;
        padding: 14px 24px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: left;
        transition: 0.3s linear all;
        mat-icon{ margin-right: 14px; font-size: 24 px;}
        &:hover{ 
            background: #e6e6e6;
            cursor: pointer;
            color: var(--primary-color);
        }
    }

    li.logotipo:first-child {
        &:hover{
            background: var(--primary-color); // original background color
            color: #fafafa; // original text color
            cursor: default; // original cursor type
        }
    }



    .logout {
        position: absolute;
        bottom: 0;
        width: 210px;

    }

    a { text-decoration: none;}
    
}