<nav class="sidemenu">
    <ul>
        <li>
            <img src="../../../assets/Logo.png" width="40px" alt="">
            <span class="logo">TÍTULO</span>
        </li>
        <li routerlink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerlink="/usuarios"> <mat-icon>person_add</mat-icon> Cadastrar moradores </li>
        <li routerlink="/usuarios"> <mat-icon>group_add</mat-icon> Cadastrar porteiros </li>
        <li routerlink="/usuarios"> <mat-icon>mail</mat-icon> Cadastrar avisos </li>
        <a href="#" target="_blank"> <li> <mat-icon> description</mat-icon> Regimento interno </li> </a>
        <li routerlink="/login" class="logout"> <mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>