<nav class="sidemenu">
    <ul>
        <li>
            <img src="../../../assets/logo_placeholder.jpg" width="40px" alt="">
            <span class="logo">TÍTULO</span>
        </li>
        <li routerlink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerlink="/usuarios"> <mat-icon>person_add</mat-icon> Cadastrar usuários </li>
        <a href="#" target="_blank"> <li> <mat-icon> local_fire_department</mat-icon> Firebase </li> </a>
        <a href="#" target="_blank"> <li> <mat-icon> description</mat-icon> Angular </li> </a>
        <li routerlink="/login" class="logout"> <mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>